
.business-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: black;
}

.text-section-business {
    flex: 1; 
    padding: 20px; 
}

.business-title {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    margin-left: 40px;
    font-weight: bold;
    margin-top: 150px;
}


.text-section-business p{
    color: #ffffff;
    margin-left: 40px;
    margin-bottom: 140px;

}
.image-section {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.business-image {
    height: 1500px;
    width: 1000pz; 
}



.Partnership{
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 50px;
  }

  .Partnership h1{
    font-family: 'Arial Black', sans-serif; 
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 35px;
  }

  .Partnership p {
    font-weight: 100;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
  }
  
  .Partnership p strong {
    font-weight:bold; 
    
    text-decoration: underline; 
  }
  
  .Partnership-bold {
    font-weight: 900; 
    font-size: 10px;
    color: #000; 
}




.Black-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    width: 100%;
    height: 400px;
  }
  
  .Black-left, .Black-right {
    flex: 1;
    padding: 20px;
  }
  
  .Black-left {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  
  .Black-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Blackh2 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .Blackp {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: left;
  }
  
  iframe {
    max-width: 100%;
    height: 100%;
    border: none;
  }
  
  .Black-button {
    font-weight: bold;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    transition: color 0.3s;
    margin-left: -24px;

  }
  

  
  .Black-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: rgb(255, 0, 0);
    transition: width 0.4s ease-in-out;
  }
  
  .Black-button:hover::after {
    width: 65%;
  }




  /* Button styling */
.business-button { 
    font-weight: bold;
    background-color: transparent; 
    color: rgb(0, 0, 0); 
    padding: 12px 24px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    display: inline-flex; 
    align-items: center;
    position: relative; 
    transition: color 0.3s; 
    margin-left: -24px;
  }
  
  .business-button .red-arrow {
    color: red; 
    margin-right: 10px; 
  }
  
  /* Underline effect */
  .business-button::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; 
    width: 0%; 
    background-color: rgb(0, 0, 0); 
    transition: width 0.4s ease-in-out; 
  }
  
  .business-button:hover::after {
    width: 30%; 
  }
  