.contactus-title {
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 90px;
    box-sizing: border-box;
}

.contactus-title h1 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
    font-family: 'Arial Black', sans-serif;
}