.footer {
    color: #fff;
  }
  
  /* Top section of footer (with columns) */
  .footer-top {
    background-color: #111; 
    padding: 90px 20px;
  }
  
  .footer-sections {
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid #4a4949;
  }
  
  .footer-column {
    flex: 1;
    margin: 10px;
    min-width: 150px;
  }
  
  .footer-column h3 {
    font-size: 16px;
    color: #f2f2f2;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column ul li {
    font-size: 12px;
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  .footer-column ul li:hover {
    color: #fff;
  }
  
  /* Bottom section of footer */
  .footer-bottom {
    width: 100%;
    background-color: #000000; 
    display: flex;
    padding: 90px 20px;
    position: relative; 
  }
  
  /* Left 40% and right 60% layout for footer-bottom */
  .footer-bottom-left {
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 20px;
    margin-top: 60px;
  }
  
  .footer-bottom-right {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 100px;
  }
  
  .footer-bottom-left p {
    margin-left: 60px;
    font-size: 16px;
    color: #ffffff;
    max-width: 800px;
  }
  
  .vertical-line-Footer {
    width: 1px; 
    background-color: #7e7a7a; 
    height: 80%; 
    position: absolute; 
    left: 45%; 
    top: 50PX; 

  }
  
  .legal-links {
    display: flex;
    justify-content: center;
  }
  
  .legal-links h3 {
    color: #ff0000;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .legal-links ul {
    list-style: none;
    padding: 0;
  }
  
  .legal-links ul li {
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .legal-links ul li:hover {
    color: #fff;
  }
  
  /* Title for the footer */
  .Footer-h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 70px;
  }
  
  /* Horizontal rule style */
  .Footer-hr {
    height: 0.5px;
    background-color: #7e7a7a;
    border: none;
  }
  
  .Footer-Link {
    margin-left: 60px;
    font-size: 45px;
    font-weight: bold;
  }
  