.horizontal-nav-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #dadada; 
  padding: 0.3125rem 0.9375rem;
  width: 100%; 
  top: 0;
  z-index: 1000; 
}

.left-links {
  margin-left: 1.25rem; 
  display: flex;
  align-items: center;
  gap: 2.5rem; 
}

.right-link {
  margin-right: 2rem; 
}

.horizontal-nav-container a {
  color: #000000; 
  text-decoration: none;
  margin: 0 0.625rem; 
  font-size: 0.75rem; 
  transition: color 0.3s ease; 
}



@media (max-width: 48rem) { 
  .horizontal-nav-container {
    flex-direction: column; 
    padding: 0.5rem; 
  }

  .left-links {
    margin-left: 0; 
    justify-content: center; 
    gap: 1.5rem; 
  }

  .right-link {
    margin-right: 0; 
    text-align: center; 
    margin-top: 0.5rem; 
  }

  .horizontal-nav-container a {
    font-size: 0.875rem; 
    margin: 0 0.3125rem; 
  }
}
